@mixin font ($size: false, $color: false, $weight: false,  $lh: false) {
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    text-align: left;
}

@font-face {
    font-family: 'Avalon Bold', Helvetica, Arial, sans-serif;
    src: url('../assets/avalon_bold.ttf')  format('truetype')
}

@font-face {
    font-family: 'Roboto Light', Helvetica, Arial, sans-serif;
    src: url('../assets/roboto-light.ttf')  format('truetype')
}

@mixin button_gradient () {
    border-radius: 10px;
    padding: 20px 0;
    @include font (18px, $white, 500, 1);
    background-image: linear-gradient(to right, $pink , $redish);
}

@mixin flexBlock($justify: space-between, $vertical: center, $flexwrap: no-wrap) {
    display: flex; 
    @if $justify { justify-content: $justify; }
    @if $vertical { align-items: $vertical; }
    @if $flexwrap { flex-wrap: $flexwrap; }
}