@mixin font ($size: false, $color: false, $weight: false,  $lh: false) {
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    text-align: left;
}

@mixin font-avalon {
    font-family: 'Avalon Bold', Helvetica, Arial, sans-serif;
    src: url('../assets/avalon_bold.ttf')  format('truetype')
}

@mixin font-roboto {
    font-family: 'Roboto Light', Helvetica, Arial, sans-serif;
    src: url('../assets/roboto-light.ttf')  format('truetype')
}

@mixin button_gradient () {
    @include flexBlock();
    @include font (18px, $white, 500, 1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    background-image: linear-gradient(to right, $pink , $redish);
    p, span {
        color: inherit;
        text-align: center;
    }
    p {
        @include flexBlock($justify: center, $flexwrap: wrap);
        span {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            &:last-child {
                font-weight: 600;
            }
        }
    }
}

@mixin flexBlock($justify: space-between, $vertical: center, $flexwrap: no-wrap) {
    display: flex; 
    @if $justify { justify-content: $justify; }
    @if $vertical { align-items: $vertical; }
    @if $flexwrap { flex-wrap: $flexwrap; }
}