.concept {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 70px 0 0;

    &__content {
        flex-basis: 55%;
        order: 2;
        margin-top: -80px;

        &-wrap {
            @include flexBlock($justify: flex-end, $flexwrap: wrap);
            .h2 {
                flex: 0 0 100%;
                margin-bottom: 40px;
                text-align: right;
            }
            p {
                text-align: right;
            }
        }
    }

    &__illu {
        position: relative;
        flex: 0 0 35%;
        height: 780px;
        margin-left: 80px;
        order:1;
        picture {
            height: 100%;
            width: 100%; 
            .homepage {
                position: relative;
                height: 100%;
                width: auto; 
                object-fit: contain;
            }
            .mission {
                position: absolute;
                top: 23%; 
                right: 8%;
                z-index: 3; 
            }
        }
    }
}


@media screen and (max-width: $tablet) {
    .concept {
        width: 100%;
        @include flexBlock($flexwrap: wrap);
    
        &__content {
            flex-basis: 100%;
            order: 1;
    
            &-wrap {
                @include flexBlock($justify: flex-end, $flexwrap: wrap);
                .h2 {
                    flex: 0 0 100%;
                    margin-bottom: 40px;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
    
        &__illu {
            flex-basis: 100%;
            height: auto;
            margin: 50px 0;
            order:1;
            picture {
                height: 100%;
                width: 100%; 
                .homepage {
                    position: relative;
                    height: auto;
                    width: 85%; 
                    display: block;
                    margin: 0 auto;
                    object-fit: contain;
                }
                .mission {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
    .concept {
        &__illu {
            flex-basis: 70%;
            margin: 70px auto;
        }
    }
}