.is-curved {
    position: relative;
    z-index: -1;
    width: 100%;
    
    &__block {
        position: absolute;
        z-index: 3;
        top: 24%; 
        left: calc(15% / 2);
        width: 85%; 
        margin: 0 auto;
        @include flexBlock;
    }
}


@media screen and (max-width: $tablet) {
    .is-curved {
        &__block {
            position: relative;
            width: 100%;
            left: 0;
            @include flexBlock($flexwrap: wrap);
        }
    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
    .is-curved {
        margin: 70px auto 0;
        &__block {
            width: 90%; 
            margin: 0 auto;
        }
    }
}
