.functions {
    width: 85%;
    margin: 0 auto;
    @include flexBlock($flexwrap: wrap);
    padding: 70px 0 0;

    .h2 {
        flex: 0 0 100%;
        text-align: center;
    }

    &__content {
        flex-basis: 50%;
        order: 1;

        &-item {
            @include flexBlock;
            margin-bottom: 60px;

            &--icon {
                flex-basis: 15%;
            }
            &--text {
                flex-basis: 85%;
            }
        }
    }

    &__illu {
        position: relative;
        flex-basis: 35%;
        margin-right: 80px;
        height: 580px;
        order:2;
        picture {
            display: block;
            text-align: right;
            height: 100%;
            width: 100%; 
        }
        .homepage {
            position: relative;
            height: 100%;
            width: auto; 
            object-fit: contain;
        }
        .alert {
            position: absolute;
            top: 23%; 
            right: 8%;
            z-index: 3; 
        }
        .absence {
            position: absolute;
            top: 53%; 
            right: 8%;
            z-index: 3; 
        }
    }
}

@media screen and (max-width: $tablet) {
    .functions {
        width: 100%;

        &__content {
            flex-basis: 100%;

            ul {
                padding-inline-start: 0;
                margin-top: 50px;
            }

            &-item {
                flex-wrap: wrap;

                &--icon {
                    flex-basis: 100%;
                    text-align: center;
                }
                &--text {
                    margin-top: 20px;
                    flex-basis: 100%;
                }
            }

            .h3, p {
                text-align: center;
            }
        }

        &__illu {
            flex-basis: 100%;
            margin-right: 0;
            height: auto;

            .alert, 
            .absence {
                width: 98%; 
                right: 0;
            }
        }
    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
    .functions {
        width: 90%;
        margin: 0 auto;

        &__content {
            flex-basis: 100%;
            order: 1;

            &-item {
                width: 90%;
                margin: 0 auto; 

                @include flexBlock;
                margin-bottom: 60px;

                &--icon {
                    flex-basis: 20%;
                }
                &--text {
                    flex-basis: 80%;
                    
                }
            }
            .h3, p {
                text-align: left;
            }
        }

        &__illu {
            height: auto; 
            picture {
                
            }
            .homepage {
                width: 55%; 
                height: auto;
            }
        }
    }
}