/*
** DESKTOP
 */

.functions {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @include flexBlock($flexwrap: wrap);
    padding: 100px 0 0;

    &__content {
        width: 50%;
        order: 2;
        &-item {
            @include flexBlock($vertical: flex-start);
            margin-bottom: 60px;
            &--icon {
                width: 15%;
            }
            &--text {
                width: 85%;
            }
        }
    }

    &__illu {
        position: relative;
        width: 45%;
        order:1;
        picture {
            display: block;
            height: 100%;
            width: 100%; 
        }
        .homepage {
            position: relative;
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }
}

/*
** MOBILE
 */

@media screen and (max-width: $tablet) {
    .functions {
        width: 100%;
        padding: 0;

        &__content {
           width: 100%;
            ul {
                margin-top: 0;
            }
            &-item {
                flex-wrap: wrap;
                width: 90%;
                margin: 30px auto;
                &--icon {
                    width: 100%;
                    text-align: center;
                    transform: scale(0.9);
                }
                &--text {
                    width: 100%;
                }
            }
            .h3, p {
                text-align: center;
            }
        }

        &__illu {
            width: 100%;
            margin-right: 0;
            height: auto;
            transform: scale(0.9);
            .alert, 
            .absence {
                width: 98%; 
                right: 0;
            }
        }
    }
}


/*
** TABLET
 */

@media (max-width: $tablet) and (min-width: $mobile) {
    .functions {
        width: 90%;
        margin: 50px auto;

        &__content {
            width: 100%;
            order: 1;

            &-item {
                width: 90%;
                margin: 0 auto;
                @include flexBlock($vertical: flex-start);
                margin-bottom: 60px;

                &--icon {
                    width: 15%;
                }
                &--text {
                    width: 80%;
                }
            }
            .h3, p {
                text-align: left;
            }
        }

        &__illu {
            .homepage {
                display: block;
                width: 75%;
                margin: 0 auto;
            }
        }
    }
}