.intro {
    width: 85%; 
    margin: 0 auto;
    @include flexBlock;
    padding: 70px 0 0;
    z-index: 5;

    &__content {
        order: 1;
        flex-basis: 48%;
        .h2 {
            margin-bottom: 25px;
        }
        .button_gradient {
            position: relative;
            z-index: 10;
            margin-top: 50px;
        }
    }

    &__illu {
        position: relative;
        order: 2;
        flex-basis: 40%;
        height: 480px;
        
        picture {
            height: 100%;
            width: 100%; 
            .homepage {
                height: 580px;
                width: 100%; 
                object-fit: contain;
            }
            .mission {
                position: absolute;
                top: 23%; 
                right: 8%;
                z-index: 3; 
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .intro {
        width: 100%; 
        flex-wrap: wrap;
        padding: 40px 0 0;

        &__content {
            order: 2;
            text-align: center;
            flex-basis: 100%;
        }

        &__illu {
            order: 1;
            flex-basis: 100%;
            margin: 30px auto 50px;
            height: auto;
            picture {
                .homepage {
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
    .intro {
        width: 90%;
        margin: 0 5%;
        &__illu {
            flex-basis: 70%; 
            margin: 30px auto 50px;

        }
    }
}