/*
** DESKTOP
 */
.intro {
    width: 85%; 
    margin: 0 auto;
    @include flexBlock;
    padding: 70px 0 0;
    z-index: 5;

    &__content {
        order: 1;
        width: 48%;
        .h2 {
            margin-bottom: 25px;
        }
        img {
            margin-right: 5px;
        }
    }

    &__illu {
        position: relative;
        order: 2;
        width: 48%;
        height: auto;
        picture {
            display: block;
            height: 100%;
            width: 100%;
        }
        .homepage {
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }
}


/*
** MOBILE
 */

@media screen and (max-width: $tablet) {
    .intro {
        width: 90%;
        flex-wrap: wrap;
        padding: 0;

        &__content {
            order: 2;
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }

        .button_gradient {
            margin: 50px auto;
        }

        &__illu {
            order: 1;
            width: 90%;
            margin: 0px auto 50px;
            height: auto;
            picture {
                .homepage {
                    height: auto;
                }
            }
        }
    }
}


/*
** TABLET
 */

@media (max-width: $tablet) and (min-width: $mobile) {
    .intro {
        width: 90%;
        margin: 0 5%;
        &__illu {
            width: 70%;
            margin: 30px auto 50px;
        }
    }
}