/*
** DESKTOP
 */

.navigation{
    width: 85%;
    margin: 120px auto 0;
    .logo {
        display: inline-block;
        width: auto;
        max-height: 75px;
        img {
            display: inline-block;
            transform: scale(2);
            transform-origin: 0 0;
        }
    }
}


/*
** MOBILE
 */

@media screen and (max-width: $tablet) {
    .navigation {
        margin: 30px;
        .logo {
            img {
                transform: scale(1);
            }
        }
    }
}


/*
** TABLET
 */

@media (max-width: $tablet) and (min-width: $mobile) {
    .navigation {
        margin: 40px 60px;
    }
}