// global styles 
/* -- COMMON -- */
@import './common/mixins.scss';
@import './common/variables.scss';


/* -- COMPONENTS -- */
@import './components/navigation.scss';
@import './components/intro.scss';
@import './components/functions.scss';
@import './components/curved.scss';
@import './components/catchphrase.scss';
@import './components/footer.scss';


#app {
    margin-top: 40px;
    @include font (16px, $greyInk, 300,  1.5);
    @media screen and (max-width: $tablet) {
        margin-top: 0;
    }
}

.h2 {
    @include font (50px, $greyInk, 600, 1.2em);
    @include font-avalon;
    text-align: left;
    margin: 0;
    @media screen and (max-width: $tablet) {
        font-size: 30px;
        text-align: center;
    }
}

.h3 {
    @include font (26px, $greyInk, 600, 1.3em);
    @include font-avalon;
    text-align: left;
    margin: 0 0 15px;
    @media screen and (max-width: $tablet) {
        text-align: center;
        font-size: 26px;
    }
}

p {
    @include font (20px, $grey, 300, 1.5em);
    @include font-roboto;
    margin: 0; 
    @media screen and (max-width: $tablet) {
        font-size: 18px;
        text-align: center;
    }
}

a {
    @include font-roboto;
    text-decoration: none;
    display: inline-block;
}

button, 
input {
    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;

}
.button_gradient {
    @include button_gradient();
    width: 160px;
    text-align: center;
}